.gitconfig
/public_html/.htaccess
/public_html/app/etc/local.xml
/public_html/app/etc/local.xml.additional
/public_html/app/etc/local.xml.template
/public_html/app/etc/config.xml
/public_html/cron.php
/public_html/cron.sh
/public_html/downloader
/public_html/errors/
/public_html/includes
/public_html/index.php
/public_html/index.php.sample
/public_html/install.php
/public_html/LICENSE*
/public_html/media
/public_html/pear
/public_html/php.ini.sample
/public_html/RELEASE_NOTES.txt
/public_html/robots.txt
/public_html/shell
/public_html/var
/conf
/licenses
/scripts
/updateip/
/bnconfig/

/public_html/9213656F9D8DA756BA3B71FEAF95B00C.txt
/public_html/*.php
/public_html/sitemap.xml
/public_html/icon
/public_html/mage
/public_html/*.sh
/public_html/*.tar.gz
/public_html/php.ini.sample
/public_html/.htaccess.sample
/public_html/package.xml

/.modman/benz_theme/media
/.modman/AwesomeCheckout/media
/.modman/AwesomeCheckout/screenshots

/.ssh

/tools
/backup
/vendor

composer.json
composer.lock
robots.txt
newsiteus.dump.sql
getMailchimpResponse.php
**.jpg
**.jpeg
**.png
**.gif
.bash_history
.bash_profile
.bashrc

