<?xml version="1.0"?>
<config>
    <modules>
        <Magegeeks_Checkoutdiscountcoupon>
            <version>0.1.0</version>
        </Magegeeks_Checkoutdiscountcoupon>
    </modules>
    <frontend>
    	  <secure_url>
            <checkoutdiscountcoupon_index>/checkoutdiscountcoupon/index</checkoutdiscountcoupon_index>
        </secure_url>
        <routers>
            <checkoutdiscountcoupon>
                <use>standard</use>
                <args>
                    <module>Magegeeks_Checkoutdiscountcoupon</module>
                    <frontName>checkoutdiscountcode</frontName>
                </args>
            </checkoutdiscountcoupon>
        </routers>
        <layout>
            <updates>
                <checkoutdiscountcoupon>
                    <file>checkoutdiscountcoupon.xml</file>
                </checkoutdiscountcoupon>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Magegeeks Extensions</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<magegeeks_checkoutdiscountcoupon translate="title" module="checkoutdiscountcoupon">
											<title>Magegeeks Section</title>
											<sort_order>0</sort_order>
										</magegeeks_checkoutdiscountcoupon>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
	    <events>
	    	<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <savebilling_event>
                        <type>singleton</type>
                        <class>checkoutdiscountcoupon/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveBilling</method>
                    </savebilling_event>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <saveshipping_event>
                        <type>singleton</type>
                        <class>checkoutdiscountcoupon/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveShipping</method>
                    </saveshipping_event>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
		<controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <saveshippingmethod>
                        <type>singleton</type>
                        <class>checkoutdiscountcoupon/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveShippingMethod</method>
                    </saveshippingmethod>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
		<controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <savepaymentmethod>
                        <type>singleton</type>
                        <class>checkoutdiscountcoupon/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_savePayment</method>
                    </savepaymentmethod>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
	   	</events>
        <models>
            <checkoutdiscountcoupon>
                <class>Magegeeks_Checkoutdiscountcoupon_Model</class>
            </checkoutdiscountcoupon>
        </models>
        <blocks>
            <checkoutdiscountcoupon>
                <class>Magegeeks_Checkoutdiscountcoupon_Block</class>
            </checkoutdiscountcoupon>
            <checkout>
	            <rewrite>
	            	<onepage>Magegeeks_Checkoutdiscountcoupon_Block_Checkout_Onepage</onepage>
	            	<onepage_progress>Magegeeks_Checkoutdiscountcoupon_Block_Checkout_Onepage_Progress</onepage_progress>
	            </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <checkoutdiscountcoupon>
                <class>Magegeeks_Checkoutdiscountcoupon_Helper</class>
            </checkoutdiscountcoupon>
        </helpers>
    </global>
   
    <default>
		<magegeeks_checkoutdiscountcoupon>
			<checkoutdiscountcoupon_config>
				<checkoutdiscountcoupon_enable>1</checkoutdiscountcoupon_enable>
				<checkoutdiscountcoupon_remove_default>1</checkoutdiscountcoupon_remove_default>
				<checkoutdiscountcoupon_step>1</checkoutdiscountcoupon_step>
			</checkoutdiscountcoupon_config>
		</magegeeks_checkoutdiscountcoupon>
    </default>
</config>
