<?xml version="1.0"?>
<config>
    <modules>
       <Collinsharper_Canpostcod>
          <version>0.2.5</version>
       </Collinsharper_Canpostcod>
    </modules>
 
    <global>
        <models>
            <chcanpostcod>
                <class>Collinsharper_Canpostcod_Model</class>
            </chcanpostcod>
        </models>
		<blocks>
            <chcanpostcod><class>Collinsharper_Canpostcod_Block</class></chcanpostcod>
        </blocks>
   <helpers>
       <chcanpostcod>
           <class>Collinsharper_Canpostcod_Helper</class>
       </chcanpostcod>
   </helpers> 
        <resources>
            <chcanpostcod_setup>
                <setup>
                    <module>Collinsharper_Canpostcod</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chcanpostcod_setup>
            <chcanpostcod_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </chcanpostcod_write>
            <chcanpostcod_read>
               <connection>
                <use>core_read</use>
              </connection>
            </chcanpostcod_read>
        </resources>
    </global>
     <frontend>
        <translate>
            <modules>
                <Collinsharper_Canpostcod>
                    <files>
                        <default>Collinsharper_Canpostcod.csv</default>
                    </files>
                </Collinsharper_Canpostcod>
            </modules>
        </translate>
        <layout>
            <updates>
                <chcanpostcod>
                    <file>chcanpostcod.xml</file>
                </chcanpostcod>
            </updates>
        </layout>
    </frontend>
	
    <default>
        <payment>
            <chcanpostcod>
                <active>1</active>
                <activefe>1</activefe>
                <model>chcanpostcod/Standard</model>
                <order_status>1</order_status>
                <title>Canada Post COD</title>
                <payment_action>pending</payment_action>
                <allowspecific>0</allowspecific>
                <max_order_total>5000</max_order_total>
            </chcanpostcod>
         </payment>
    </default>
</config>
